$tooltip-background-color: #e6cb82 !default;
$tooltip-color: #000 !default;

.tooltip {
  max-width: 250px;
  min-width: 100px;

  .show {
    opacity: 1 !important;
  }

  .tooltip-inner {
    background-color: #e6cb82 !important;
    border-radius: 5px;
    color: #000 !important;
    padding: 15px;
    font-size: 12px;
  }

  .arrow::before {
    border-top-color: $tooltip-background-color;
    border-bottom-color: $tooltip-background-color;
  }
}

.bs-tooltip-top {
  top: -10px !important;
}

.bs-tooltip-bottom {
  top: 30px !important;
}

.bs-tooltip-left {
  left: -10px !important;
}

.bs-tooltip-right {
  left: 10px !important;
}