@import "~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css";

.layout-container {
  display: flex;
  flex-direction: column;
}

.logs-hash {
  line-height: 24px !important;
}

.container-body {
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* Top menu */

.search-form {
  border-radius: 12px;
  border: 1px solid var(--gray-scale-40, #575757);
  background: var(--gray-scale-white, #fff);
  box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.05);
}

#searchBar {
  width: 100px;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -o-transition: 300ms linear;
  -ms-transition: 300ms linear;
  transition: 300ms linear;
}

/* Footer */

.footer-container {
  width: 100%;
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 15px;
}
