@import "~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css";

.layout-container {
  display: flex;
  flex-direction: column;
}

.logs-hash {
  line-height: 24px !important;
}

.js-ad-dependant-pt {
  margin-top: 80px;

  @include media-breakpoint-down(md) {
    margin-top: 110px;
  }
}

.container-body {
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 100%;

  @include media-breakpoint-down(md) {
    padding: 15px !important;
  }
}

.box-body {
  padding: 0 px;

  @include media-breakpoint-down(md) {
    padding: 0px;
  }
}

/* Top menu */

.search-form {
  border-radius: 12px;
  border: 1px solid var(--gray-scale-40, #575757);
  background: var(--gray-scale-white, #fff);
  box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.05);
}

/* hidde search in topnav at page home */
/* note: because of quick editing should use tab active*/


#head-scroll {
  position: fixed;
  top: 0;
  display: block;
  transition: top 0.3s;
  width: 100%;
  z-index: 150;
}

.search-dashboard.active {
  display: none;
}

.search {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.search.active {
  display: none;
}

.search-dashboard-home {
  max-width: 876px;
  margin: auto;
  margin-top: 4rem;

  @include media-breakpoint-down(md) {
    max-width: 90%;
    margin-top: 2rem;
  }

  .search-form {
    padding: 5px;
    border: none;

    @include media-breakpoint-down(md) {
      padding: 0px;
    }
  }

  .form-control {
    background-color: transparent;
    padding-left: 0px;
  }

  .autoComplete_wrapper input {
    height: 35px;
    padding-top: 0px !important;

    @include media-breakpoint-down(md) {
      padding-top: 8px !important;
    }
  }
}

#searchBar {
  width: 120px;
  margin-top: 5px;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -o-transition: 300ms linear;
  -ms-transition: 300ms linear;
  transition: 300ms linear;
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.navbar-nav .nav-link .nav-link-icon {
  display: none !important;
}

/* Footer */

.footer-container {
  width: 100%;
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 15px;
}

/* table */

.container-table {
  @media (max-width: 1200px) {
    overflow: scroll;
  }
}