<title>
  <%= gettext("Pools Blockchain Explorer - Pools Scan") %>
</title>
<meta name="description" content="<%= gettext "Blockchain Explorer and Analytics Platform for Pools Chain"%>">
<meta name="keywords" content="pools chain, blockchain, api, analytics, address, smart contract">
