.input-group-text {
  background-color: transparent;
  border: none;
}

.dashboard-banner-network-stats-label {
  text-wrap: wrap;
  font-size: 18px !important;
  text-transform: uppercase;

  @media (max-width: 960px) {
    font-size: 14px !important;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }
}

.dashboard-banner-network-stats-value {
  color: var(--gray-scale-80, #262626);

  @include media-breakpoint-down(md) {
    color: var(--gray-scale-80, #282828);
    margin-top: 5px;
  }

  font-size: 20px;

  @media (max-width: 960px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.form-control {
  &.search-control {
    border: none;

    &:focus {
      border: none;
    }
  }
}

.b-banner {
  background: var(--gray-scale-white, #fff);
}

.dashboard-banner-mobile {
  display: none;

  @include media-breakpoint-down(md) {
    padding-right: 7.5px;
    padding-left: 7.5px;
    display: block;
  }
}

.dashboard-banner-pc {
  width: 100%;
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 15px;
  margin-top: -40px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.banner-one {
  border-radius: 16px 0px 0px 0px;
  padding: 0px;
  height: 120px;
  display: flex;
  padding: 30px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  @include media-breakpoint-down(md) {
    border-radius: 12px 0px 0px 0px;
    margin-bottom: 2px;
  }
}

.banner-two {
  margin-top: 2px;
  padding: 0px;
  border-radius: 0px 0px 0px 16px;
  height: 120px;
  display: flex;
  padding: 30px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  @include media-breakpoint-down(md) {
    border-radius: 0px 12px 0px 0px;
    margin-top: 0px;
    margin-bottom: 2px;
  }
}

.banner-three {
  padding: 0px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-four {
  padding: 0px;
  height: 120px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-five {
  border-radius: 0px 16px 16px 0px;
  background: var(--gray-scale-white, #fff);
  height: 242px;
  padding: 30px 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container>div {
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: normal;
  font-size: 30px;
}

.banner-one-mobile {
  padding: 20px 14px;
  border-radius: 12px 0px 0px 0px;
}

.banner-two-mobile {
  padding: 20px 14px;
  border-radius: 0px 12px 0px 0px;
}

.banner-three-mobile {
  padding: 20px 14px;
}

.banner-four-mobile {
  padding: 20px 14px;
}

.banner-five-mobile {
  padding: 20px 14px;

  @include media-breakpoint-down(md) {
    border-radius: 0px 0px 12px 12px;
  }
}